<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new_film.css">
    <title>background-image</title>
        <style>
        body {
            background-image: url();
            }
        </style>
</head>
<body>
    <form action="" method="POST">
        <div class="circle"></div>
        <div class="register-form-container">
            <h1 class="form-title">
                    НОВЫЙ ФИЛЬМ
            </h1>
            <div class='form-fields'>
                <div class="form-field">
                    <input id="id" type="text" class="input js-input" placeholder="ID" name="id">
                </div>
                <div class="form-field">
                    <input id="name" type="text" class="input js-input" placeholder="Название фильма"  >
                </div>
                <div class="form-field">
                    <input id ="rating" type="text"  class="input js-input" placeholder="Рейтинг">
                </div>
                <div class="form-field">
                    <input id ="country" type="password"  class="input js-input" placeholder="Страна создания">
                </div>
                <div class="button">
                    <input type="button" value="Добавить"  onclick="checkPassword()">
                </div>


                </div>
            </div>
        </div>
    </form>

</body>
</html>